@import "tailwindcss";

:root {
  /* Authentic colors from allenkays.github.io */
  --brand-orange: #ff4500;
  --brand-dark: #172b4d;
  --brand-slate: #344563;
  --brand-light: #f4f5f7;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--brand-dark);
  background-color: #fff;
  /* Improves font rendering for a "cleaner" look */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Selection color (when user highlights text) */
::selection {
  background-color: var(--brand-orange);
  color: white;
}